
$('#regform_district_id').empty();
<% for district in @districts %>


   // alert(<%= district.id %>);

      $('#regform_district_id').append($("<option></option>").attr("value",<%= district.id %>).text('<%= district.name %>'));


<% end %>

